
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/sha1-checksums.bin
.idea/uiDesigner.xml
local.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/checksums/checksums.lock
.idea/uiDesigner.xml
